cartas-servico/v2/servico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://servicos.gov.br/cartas-servico/v2/schema/servico"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://servicos.gov.br/cartas-servico/v2/schema/servico"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:element name="servico">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" minOccurs="1" maxOccurs="1" type="nome"/>
                <xs:element name="nomes-populares" minOccurs="1" maxOccurs="1" type="texto-curto"/>
                <xs:element name="descricao" minOccurs="1" maxOccurs="1" type="texto-longo"/>
                <xs:element name="palavras-chave" minOccurs="1" maxOccurs="1" type="texto-curto"/>

                <xs:element name="areas-de-interesse" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="area-de-interesse">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="id" type="id"/>
                                        <xs:element name="area" type="texto-curto"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="segmentos-da-sociedade" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="segmento-da-sociedade">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="id" type="id"/>
                                        <xs:element name="nome" type="texto-curto"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="eventos-da-linha-da-vida" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="evento-da-linha-da-vida">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="id" type="id"/>
                                        <xs:element name="nome" type="texto-curto"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="legislacao-relacionada" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="link">
                                <xs:complexType>
                                    <xs:attribute name="href" type="xs:anyURI"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="solicitantes" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="solicitante" type="texto-curto"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="tempo-total-estimado" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="minimo" minOccurs="0" maxOccurs="1" type="unidade-de-tempo-estimado"/>
                            <xs:element name="maximo" type="unidade-de-tempo-estimado"/>
                            <xs:element name="excecoes" type="texto-longo"/>
                        </xs:all>

                        <xs:attribute name="tipo">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="até"/>
                                    <xs:enumeration value="entre"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>

                <xs:element name="etapas" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="etapa">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="titulo" type="texto-curto"/>
                                        <xs:element name="descricao" type="texto-longo"/>

                                        <xs:element name="documentos">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="documento" type="texto-curto"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="custos">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="custo">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="descricao" type="texto-curto"/>
                                                                <xs:element name="valor" type="valor"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="excecoes" type="xs:boolean"/>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="canais-de-prestacao">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="canal-de-prestacao">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:sequence>
                                                                    <xs:element name="titulo" type="texto-curto"/>
                                                                    <xs:element name="referencia" type="xs:string"/>
                                                                </xs:sequence>
                                                                <xs:sequence>
                                                                    <xs:element name="descricao" type="texto-curto"/>
                                                                </xs:sequence>
                                                            </xs:choice>
                                                            <xs:attribute name="tipo">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="Agendamento"/>
                                                                        <xs:enumeration value="Web"/>
                                                                        <xs:enumeration value="Presencial"/>
                                                                        <xs:enumeration value="Telefone"/>
                                                                        <xs:enumeration value="E-mail"/>
                                                                        <xs:enumeration value="Caixa postal"/>
                                                                        <xs:enumeration value="Aplicativo móvel"/>
                                                                        <xs:enumeration value="SMS"/>
                                                                        <xs:enumeration value="Fax"/>
                                                                        <xs:enumeration value="Rede social"/>
                                                                        <xs:enumeration value="Outros"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                            <xs:attribute name="preferencial" type="xs:boolean"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="orgao" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="id" type="id"/>
                            <xs:element name="nome" type="texto-curto"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>

                <xs:element name="gratuito" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean"/>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="situacao" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>

            <xs:attribute name="versao" fixed="2"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="unidade-de-tempo-estimado">
        <xs:simpleContent>
            <xs:extension base="texto-curto">
                <xs:attribute name="tipo">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="minutos"/>
                            <xs:enumeration value="horas"/>
                            <xs:enumeration value="dias"/>
                            <xs:enumeration value="dias corridos"/>
                            <xs:enumeration value="dias úteis"/>
                            <xs:enumeration value="meses"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="nome">
        <xs:restriction base="texto-curto">
            <xs:maxLength value="151"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="texto-curto">
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="texto-longo">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="id">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[a-z-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="valor">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\d+(,\d\d)?)?"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
