cartas-servico/v3/servico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://servicos.gov.br/v3/schema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://servicos.gov.br/v3/schema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:element name="servico" type="Servico"/>
    <xs:complexType name="Servico">
        <xs:choice maxOccurs="unbounded">
	    <xs:element name="id" type="Id" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dbID" type="DbId" minOccurs="1" maxOccurs="1"/>		
            <xs:element name="nome" type="NomeDoServico" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sigla" type="Sigla" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contato" type="Contato" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nomes-populares" type="NomesPopulares" minOccurs="0" maxOccurs="1"/>
            <xs:element name="descricao" type="DescricaoDoServico" minOccurs="1" maxOccurs="1"/>
            <xs:element name="gratuito" type="Gratuito" minOccurs="1" maxOccurs="1"/>
	    <xs:element name="porcentagem-manual" type="PorcentagemManual" minOccurs="0" maxOccurs="1"/>
            <xs:element name="servico-digital" type="ServicoDigital" minOccurs="0" maxOccurs="1"/>
	    <xs:element name="link-servico-digital" type="LinkServicoDigital" minOccurs="0" maxOccurs="1"/>
            <xs:element name="solicitantes" type="Solicitantes" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tempo-total-estimado" type="TempoTotalEstimado" minOccurs="0" maxOccurs="1"/>
	    <xs:element name="validade-documento" type="ValidadeDocumento" minOccurs="0" maxOccurs="1"/>
            <xs:element name="etapas" type="Etapas" minOccurs="0" maxOccurs="1"/>
            <xs:element name="orgao" type="Orgao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="segmentos-da-sociedade" type="SegmentosDaSociedade" minOccurs="0" maxOccurs="1"/>
            <xs:element name="areas-de-interesse" type="AreasDeInteresse" minOccurs="0" maxOccurs="1"/>
            <xs:element name="palavras-chave" type="PalavrasChave" minOccurs="0" maxOccurs="1"/>
            <xs:element name="legislacoes" type="Legislacoes" minOccurs="0" maxOccurs="1"/>
	    <xs:element name="servicos-relacionados" type="ServicosRelacionados" minOccurs="0" maxOccurs="1"/> 
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="Id">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>	
	
    <xs:simpleType name="DbId">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>	
	
    <xs:simpleType name="NomeDoServico">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Contato">
        <xs:restriction base="xs:string">
	    <xs:minLength value="0"/>
	    <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Sigla">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="NomesPopulares">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="NomePopular"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="NomePopular">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="DescricaoDoServico">
        <xs:restriction base="xs:string">
	    <xs:minLength value="0"/>
	    <xs:maxLength value="3000"/>
	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Gratuito">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="PorcentagemManual">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>
	
   <xs:simpleType name="ServicoDigital">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="LinkServicoDigital">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Solicitantes">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="solicitante" type="Solicitante"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Solicitante">
        <xs:sequence>
            <xs:element name="tipo" type="TipoDeSolicitante"/>
            <xs:element name="requisitos" type="Requisitos"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TipoDeSolicitante">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Requisitos">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="TempoTotalEstimado">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="entre" type="Entre"/>
                <xs:element name="ate" type="Ate"/>
		<xs:element name="em-media" type="EmMedia"/>
		<xs:element name="atendimento-imediato"/>
            </xs:choice>
            <xs:element name="descricao" type="DescricaoDoTempoTotalEstimado"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Entre">
        <xs:attribute name="min" type="UnidadeDeTempo" use="required"/>
        <xs:attribute name="max" type="UnidadeDeTempo" use="required"/>
        <xs:attribute name="unidade" type="TipoDeTempoTotalEstimado" use="required"/>
    </xs:complexType>

    <xs:complexType name="Ate">
        <xs:attribute name="max" type="UnidadeDeTempo" use="required"/>
        <xs:attribute name="unidade" type="TipoDeTempoTotalEstimado" use="required"/>
    </xs:complexType>

    <xs:complexType name="EmMedia">
        <xs:attribute name="max" type="UnidadeDeTempo" use="required"/>
        <xs:attribute name="unidade" type="TipoDeTempoTotalEstimado" use="required"/>
    </xs:complexType>

    <xs:simpleType name="TipoDeTempoTotalEstimado">
        <xs:restriction base="xs:string">
            <xs:enumeration value="minutos"/>
            <xs:enumeration value="horas"/>
            <xs:enumeration value="dias"/>
            <xs:enumeration value="dias-corridos"/>
            <xs:enumeration value="dias-uteis"/>
            <xs:enumeration value="meses"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UnidadeDeTempo">
        <xs:restriction base="xs:unsignedShort"/>
    </xs:simpleType>

    <xs:simpleType name="DescricaoDoTempoTotalEstimado">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="ValidadeDocumento">
        <xs:sequence>
	    <xs:choice minOccurs="0" maxOccurs="1">
		    <xs:element name="valido-por" type="ValidoPor"/>
		    <xs:element name="sem-validade"/>
	    </xs:choice>
    	    <xs:element name="descricao" type="DescricaoDaValidadeDocumento"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValidoPor">
        <xs:attribute name="max" type="UnidadeDeTempo" use="required"/>
        <xs:attribute name="unidade" type="UnidadeValidadeDocumento" use="required"/>
    </xs:complexType>

    <xs:simpleType name="UnidadeValidadeDocumento">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dias"/>
            <xs:enumeration value="meses"/>
            <xs:enumeration value="anos"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DescricaoDaValidadeDocumento">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Etapas">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="etapa" type="Etapa"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Etapa">
        <xs:sequence>
            <xs:element name="titulo" type="Titulo" minOccurs="0" maxOccurs="1"/>
            <xs:element name="descricao" type="DescricaoDaEtapa" minOccurs="0" maxOccurs="1"/>
            <xs:element name="documentos" type="Documentos" minOccurs="0" maxOccurs="1"/>
            <xs:element name="custos" type="Custos" minOccurs="0" maxOccurs="1"/>
            <xs:element name="canais-de-prestacao" type="CanaisDePrestacao" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Titulo">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="DescricaoDaEtapa">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Documentos">
        <xs:sequence>
            <xs:element name="default" type="CasoDeDocumentos"/>
            <xs:element name="caso" type="CasoDeDocumentos" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CasoDeDocumentos">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="Documento"/>
        </xs:sequence>
        <xs:attribute name="descricao" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="Documento">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Custos">
        <xs:sequence>
            <xs:element name="default" type="CasoDeCustos"/>
            <xs:element name="caso" type="CasoDeCustos" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CasoDeCustos">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="custo" type="Custo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="descricao" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="Custo">
        <xs:sequence>
            <xs:element name="descricao" type="DescricaoDoCusto"/>
            <xs:element name="moeda" type="Moeda"/>
            <xs:element name="valor" type="Valor"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DescricaoDoCusto">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Moeda">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Valor">
        <xs:restriction base="xs:string"/>
        <!-- TODO: restringir usando expressão regular para aceitar números e vírgula separando os centavos -->
    </xs:simpleType>

    <xs:complexType name="CanaisDePrestacao">
        <xs:sequence>
            <xs:element name="default" type="CasoDeCanaisDePrestacao"/>
            <xs:element name="caso" type="CasoDeCanaisDePrestacao" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CasoDeCanaisDePrestacao">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="canal-de-prestacao" type="CanalDePrestacao" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="descricao" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="CanalDePrestacao">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="descricao" type="DescricaoDeCanalDePrestacao"/>
        </xs:sequence>
        <xs:attribute name="tipo" type="TipoDeCanalDePrestacao" use="required"/>
    </xs:complexType>

    <xs:simpleType name="DescricaoDeCanalDePrestacao">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="TipoDeCanalDePrestacao">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aplicativo-movel"/>
            <xs:enumeration value="e-mail"/>
            <xs:enumeration value="fax"/>
            <xs:enumeration value="postal"/>
            <xs:enumeration value="presencial"/>
            <xs:enumeration value="sms"/>
            <xs:enumeration value="telefone"/>
            <xs:enumeration value="web"/>
            <xs:enumeration value="web-acompanhar"/>
            <xs:enumeration value="web-agendar"/>
            <xs:enumeration value="web-calcular-taxas"/>
            <xs:enumeration value="web-consultar"/>
            <xs:enumeration value="web-declarar"/>
            <xs:enumeration value="web-emitir"/>
            <xs:enumeration value="web-inscrever-se"/>
            <xs:enumeration value="web-postos-de-atendimento"/>
            <xs:enumeration value="web-preencher"/>
            <xs:enumeration value="web-simular"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Orgao">
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

    </xs:complexType>

    <xs:complexType name="SegmentosDaSociedade">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="SegmentoDaSociedade"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SegmentoDaSociedade">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cidadãos"/>
            <xs:enumeration value="Empresas"/>
            <xs:enumeration value="Órgãos e entidades públicas"/>
            <xs:enumeration value="Demais segmentos (ONGs, organizações sociais, etc)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AreasDeInteresse">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="AreaDeInteresse"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="AreaDeInteresse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Abastecimento"/>
            <xs:enumeration value="Administração"/>
            <xs:enumeration value="Agropecuária"/>
            <xs:enumeration value="Água"/>
            <xs:enumeration value="Assistência Hospitalar e Ambulatorial"/>
            <xs:enumeration value="Assistência ao Idoso"/>
            <xs:enumeration value="Assistência ao Portador de Deficiência"/>
            <xs:enumeration value="Assistência à Criança e ao Adolescente"/>
            <xs:enumeration value="Atendimento básico"/>
            <xs:enumeration value="Biodiversidade"/>
            <xs:enumeration value="Cidadania"/>
            <xs:enumeration value="Clima"/>
            <xs:enumeration value="Combate a desigualdade"/>
            <xs:enumeration value="Combate a epidemias"/>
            <xs:enumeration value="Combustíveis"/>
            <xs:enumeration value="Comercio externo"/>
            <xs:enumeration value="Compras governamentais"/>
            <xs:enumeration value="Comunicações"/>
            <xs:enumeration value="Comunicações Postais"/>
            <xs:enumeration value="Comércio e Serviços"/>
            <xs:enumeration value="Cooperação Internacional"/>
            <xs:enumeration value="Cultura"/>
            <xs:enumeration value="Defesa Civil"/>
            <xs:enumeration value="Defesa Nacional"/>
            <xs:enumeration value="Defesa agropecuária"/>
            <xs:enumeration value="Defesa do Consumidor"/>
            <xs:enumeration value="Defesa militar"/>
            <xs:enumeration value="Difusão"/>
            <xs:enumeration value="Difusão Cultural"/>
            <xs:enumeration value="Economia e Finanças"/>
            <xs:enumeration value="Educação"/>
            <xs:enumeration value="Educação básica"/>
            <xs:enumeration value="Educação profissionalizante"/>
            <xs:enumeration value="Educação superior"/>
            <xs:enumeration value="Empregabilidade"/>
            <xs:enumeration value="Energia"/>
            <xs:enumeration value="Energia elétrica"/>
            <xs:enumeration value="Esporte comunitário"/>
            <xs:enumeration value="Esporte e Lazer"/>
            <xs:enumeration value="Esporte profissional"/>
            <xs:enumeration value="Fiscalização do Estado"/>
            <xs:enumeration value="Fomento ao Trabalho"/>
            <xs:enumeration value="Habitação"/>
            <xs:enumeration value="Habitação Rural"/>
            <xs:enumeration value="Habitação Urbana"/>
            <xs:enumeration value="Indústria"/>
            <xs:enumeration value="Infraestrutura Urbana"/>
            <xs:enumeration value="Lazer"/>
            <xs:enumeration value="Medicamentos e aparelhos"/>
            <xs:enumeration value="Meio ambiente"/>
            <xs:enumeration value="Mineração"/>
            <xs:enumeration value="Normalização e Qualidade"/>
            <xs:enumeration value="Operações de dívida pública"/>
            <xs:enumeration value="Orçamento"/>
            <xs:enumeration value="Patrimônio"/>
            <xs:enumeration value="Patrimônio Cultural"/>
            <xs:enumeration value="Pesquisa e Desenvolvimento"/>
            <xs:enumeration value="Planejamento"/>
            <xs:enumeration value="Policiamento"/>
            <xs:enumeration value="Politica econômica"/>
            <xs:enumeration value="Preservação e Conservação Ambiental"/>
            <xs:enumeration value="Previdência Básica"/>
            <xs:enumeration value="Previdência Complementar"/>
            <xs:enumeration value="Previdência Social"/>
            <xs:enumeration value="Produção Industrial"/>
            <xs:enumeration value="Produção agropecuária"/>
            <xs:enumeration value="Propriedade Industrial"/>
            <xs:enumeration value="Proteção Social"/>
            <xs:enumeration value="Proteção e Benefícios ao Trabalhador"/>
            <xs:enumeration value="Recursos humanos"/>
            <xs:enumeration value="Relações Diplomáticas"/>
            <xs:enumeration value="Relações Internacionais"/>
            <xs:enumeration value="Relações de Trabalho"/>
            <xs:enumeration value="Saneamento"/>
            <xs:enumeration value="Saneamento Básico Rural"/>
            <xs:enumeration value="Saneamento Básico Urbano"/>
            <xs:enumeration value="Saúde"/>
            <xs:enumeration value="Segurança e Ordem Pública"/>
            <xs:enumeration value="Serviços Públicos"/>
            <xs:enumeration value="Serviços Urbanos"/>
            <xs:enumeration value="Sistema Financeiro"/>
            <xs:enumeration value="Telecomunicações"/>
            <xs:enumeration value="Trabalho"/>
            <xs:enumeration value="Transporte Aéreo"/>
            <xs:enumeration value="Transporte Ferroviário"/>
            <xs:enumeration value="Transporte Hidroviário"/>
            <xs:enumeration value="Transporte Rodoviário"/>
            <xs:enumeration value="Transportes"/>
            <xs:enumeration value="Turismo"/>
            <xs:enumeration value="Urbanismo"/>
            <xs:enumeration value="Vigilância Sanitária"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PalavrasChave">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="PalavraChave"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PalavraChave">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Legislacoes">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="Legislacao"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Legislacao">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
	
    <xs:complexType name="ServicosRelacionados">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="item" type="ServicoRelacionado"/>
        </xs:sequence>
    </xs:complexType>
	
    <xs:simpleType name="ServicoRelacionado">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

</xs:schema>
